
.contact-form{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height:350px;
    /* background: pink; */
    width: 550px;
    gap: 0.2rem;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.footer-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    background-color: rgb(41, 41, 40);
}

.contact-form input{
    border-radius: 10px ;
}

.contact-form  textarea{
    padding: 10px;
    border-radius:  15px;
}